.account-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.left-section {
    width: 500px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    align-self: flex-start;
}

.user-data h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.user-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.settings-button, .left-section button, .add-book-button {
    margin-top: 5px;
    padding: 10px 20px;
    background-color: #818588;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    white-space: nowrap;
}

.settings-button:hover, .left-section button:hover, .add-book-button:hover {
    background-color: rgb(70, 74, 71);
}

.average-rating {
    margin-top: 20px;
    font-size: 16px;
}

.average-rating h3 {
    display: flex;
    align-items: center;
    font-size: 16px;
}

.star-icon {
    color: gold;
    font-size: 18px;
}

.comments-section {
    margin-top: 20px;
}

.comments-section ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.comments-section ul li {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.comments-section ul li:last-child {
    border-bottom: none;
}

.wishlist-section {
    margin-top: 20px;
}

.right-section {
    width: 600px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    align-self: flex-start;
}

.my-books-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.my-books-section button {
    padding: 10px 20px;
    margin: 10px 0;
    background-color: #818588;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.my-books-section button:hover {
    background-color: rgb(70, 74, 71);
}